html {
      height: 100%;
    }
    body {
       width: auto;
       height: 100%;
       background-color: rgb(60,47,47);
       text-align: center;
       display: block;
       font-family: sans-serif;
    }

    header {
        background-color: rgb(133,68,66);
        color: rgb(255,244,230);
        font-size: 60px;
        padding: 5px;
        border: 10px rgb(190,155,123);
        margin-bottom: 50px;
        font-weight: bold;
        display: block;

    }
    nav {
        float: left;
        width: 100%;
        font-size: 20px;
    }




#species {
      font-size: 50px;
      color: rgb(255,244,230);
    }

h2 {
  font-size: 30px;
  color: rgb(255,244,230);
}

  .pic {
    height: 200px;
    width: 90%;
  }

.troll {
  display: inline-block;
  width: 17%;
  color:white;
  background-color: rgb(133,68,66);
  border: 20px;

}

.troll2 {
  display: inline-block;
  width: 60%;
  color:white;
  background-color: rgb(133,68,66);

}

p {color:white;}

/* unvisited link */
a:link {
   color: white;
}

/* visited link */
a:visited {
   color: white;
}

/* mouse over link */
a:hover {
   color: rgb(133,68,66);
}

/* selected link */
a:active {
   color: white;
}
