html {
      height: 100%;
    }
    body {
       background-image: url(FremontTroll.jpg);
       background-color: rgb(133,68,66);
       width: 73%;
       height: 100%;
       font-family: sans-serif;
    }
    header {
        background-color: #fff4e6;
        width: 100%;
        padding: 40px;
        border: 10px solid #3c2f2f;
        margin: 40px;
        text-align: center;
        font-size: 40px;
        display: block;
    }
    #Title {
      text-align: center;
      margin-left: 17%;
    }
    nav {
      background-color: #fff4e6;
      width: 100%;
      padding: 40px;
      border: 10px solid #3c2f2f;
      margin-left: 50px;
      text-align: center;
      font-size: 27px;
      display: block;
    }
    nav a {
        background-color: inherit;
        color: #be9b7b;
    }
    nav a:hover {
        background-color: inherit;
        color: #854442;
    }
    nav a:active {
        background-color: inherit;
        color: #be9b7b;
    }
    nav ul {
        padding: 5px;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        display: inline;
        float: left;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: ;
    }
    section {
        border: 10px solid #be9b7b;
        background-color: #fff4e6;
        padding: 40px;
        margin: 50px;
        width: 100%;
        text-align: center;
        display: inline-block;
        float: left;
    }
    #Pitch {
        border: 2px solid #be9b7b;
        padding: 10px;
        text-align: center;
        float: left;
    }
    #TrollPatrol {
        text-align: center;
    }
    #JoinUs {
        text-align: center;
    }
    #TrollRoller {
        text-align: center;
    }
    #PublicMeetings {
        text-align: center;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        border: 2px solid #be9b7b;
        background-color: #fff4e6;
        text-align: center;
        margin-left: 50px;
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
